<!DOCTYPE html>
<html class= 'teal darken-1'>
  <head><% include ../partials/head %></head>
    <div class="header center white-textcontainer red darken-1 white-text">
      <body >
      <header><% include ../partials/header %></header>
      <nav><% include ../partials/navigation %></nav>

        <div class="container">
          <%if(companies.length){ %>
          <% companies.forEach( function(companies){  %>
          <div class="card blue-grey darken-1 ">
          <div class="card-content white-text ">
          <span class="card-title"><%=companies.client_name%></span>
            <p>$
              <strong><%=companies.amount%></strong>
              <br>
              <%=companies.client_parent_name%>
              <br>
              <%=companies.year%>
            </p>
            <p>Transaction ID <br><%=companies.transaction_id%></p>
          </div>
          <div class="card-action">
              <a href="billLink">The bill</a>
             <button class='saveBill'>Save</button>
          </div>
          </div>
          <% }) %>
          <% }else{ %>
          <li>No Results found</li>
          <% } %>
        </div>
</body>
</div>
</html>
