<!DOCTYPE html>
<html>
  <head><% include ../partials/head %></head>
  <div class="header center white-textcontainer">
    <body >
    <nav><% include ../partials/navigation %></nav>
    <h1><%=user.fname%>'s Lobby List</h1>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 result">
          <% if(user.favoriteArticles.length) { %>
            <%if(user.favoriteArticles.length){ %>
          <% user.favoriteArticles.forEach( function(article){  %>
          <section>
          <span class="card-title"><%=article.company%></span>
            <p>
              <strong><%=article.amount%></strong>
              <br>
              <%=article.lobbyOrg%>
              <br>
              <%=article.lobbyist%>
            </p>
            <p class="transID"><%=article.transID%></p>

            <div class="card-action center">

              <button type="submit" class='deleteBill blue darken white-text btn-flat'>Delete</button>


          </div>

          </div>
          </div>
          <% }) %>
          <% }else{ %>
          <li>You don't have anything saved yet!</li>

          <% } %>
          <% } %>
          </section>
  </div>
   <script type="text/javascript" src="/js/script.js"></script>
  </body>
  </div>
</html>
